<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   	<parameter name="Username" value="dovgichnik@gmail.com" />
	<parameter name="Password" value="123456789" />
	<parameter name="ERUsername" value="dovgichnik1@gmail.com" />
	<parameter name="ERPassword" value="12345678" />
	<parameter name="GPassword" value="ADA TT010895-7116" />
    
    <classes>
		<class name="testNG.TestCasesForLogin">
      		<methods>
      			<include name="Verify_user_can_Login_in_with_valid_Email_and_Password_combination"/>
      			<include name="Verify_user_cannot_login_with_blank_Email_field"/>
      			<include name="Verify_user_cannot_login_with_blank_Password_field"/>
      			<include name="Verify_Forgot_your_password_will_redirect_user_to_How_to_reset_password_page"/>
      			<include name="Verify_that_user_receives_email_to_reset_password_after_entering_valid_email_address_in_Password_Reset_screen"/>
      			<include name="Verify_that_the_Forgot_Password_field_does_not_accept_invalid_email"/>
      			<include name="Verify_that_user_can_copy_and_paste_email_field_info"/>
      			<include name="Verify_user_cannot_copypaste_values_from_Password_and_Retype_password_fields"/>
      			<include name="Verify_Password_field_masks_users_input_with_bullets"/>
      			<include name="Verify_user_cannot_login_with_an_invalid_password"/>
      			<include name="Verify_user_cannot_login_with_an_invalid_email_address"/>
      			<include name="Verify_Register_Now_in_login_page_will_redirect_user_to_the_registration_page"/>
      		</methods>
      	</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
