<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="jUnit.TestCasesForLoginInChrome"/>
      <class name="jUnit.TestCasesForPasswordChange"/>
      <class name="testForQAUBER.Exam"/>
      <class name="testNG.TestCasesForLogin"/>
      <class name="jUnit.TestCasesForMyProfileChrome2"/>
      <class name="jUnit.TestCasesForMyProfileChrome"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
